.welcome-panel-column .dashicons {
	/* font-size: 30px; */
	color: #606a73;
	font-size: 23px;
	margin-right: 5px;
	position: relative;
	top: unset!important;
}

.welcome-panel .qsm-welcome-panel-close {
	position: absolute;
	top: -20px;
	right: 10px;
	padding: 10px 15px 10px 21px;
	font-size: 13px;
	line-height: 1.23076923;
	text-decoration: none;
}

.welcome-panel .qsm-welcome-panel-dismiss {
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 10px 15px 10px 21px;
	font-size: 13px;
	line-height: 1.23076923;
	text-decoration: none;
	z-index:999;
}

.welcome-panel .qsm-welcome-panel-dismiss:before {
	background: 0 0;
	color: #72777c;
	content: "\f153";
	display: block;
	font: normal 16px/20px dashicons;
	speak: none;
	height: 20px;
	text-align: center;
	width: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 9px;
	left: 0;
	transition: all 0.1s ease-in-out;
}

.welcome-panel .qsm-welcome-panel-dismiss:hover:before {
	color: #c00;
}

.welcome-panel .qsm-welcome-panel-close img {
	width: 100px;
}

.welcome-panel .welcome-panel-close:before {
	content: none !important;
}

.welcome-panel .current_version {
	color: #344ad4;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	position: relative;
	top: -30px;
}

.welcome-panel .welcome-icon {
    display: flex;
    align-items: center;
}

.popover-count {
    top: -2px !important;
    right: unset!important;
    left: 9px!important;
    height: 13px!important;
    width: 13px!important;
    font-size: 8px!important;
}

.popuar-addon-ul {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

ul.popuar-addon-ul::after {
    content: '';
    clear: both;
}

.qsm-popup .popuar-addon-ul {
	columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;
}

.popuar-addon-ul li img {
	max-width: 100%;
}

.pa-all-addon {
	text-align: right;
	margin-bottom: 10px;
}

.pa-all-addon a {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

.what-new-ul li {
	margin-bottom: 20px;
	border-bottom: 1px solid #ccbfbf;
	padding-bottom: 20px;
}

.what-new-ul li:last-child {
	border-bottom: medium none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.what-new-ul li a {
	font-size: 14px;
	color: #222;
	font-weight: 500;
	transition: 0.2 all;
	-webkit-transition: 0.2 all;
	-ms-transition: 0.2 all;
}

.what-new-ul li a:hover {
	color: #0073aa;
}

.what-new-ul li .post-description {
	margin-top: 10px;
}

.what-new-ul li .post-description p {
	margin: 0;
	padding: 0;
}

.changelog-ul li {
	border-bottom: 1px solid #ede8e8;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.changelog-ul li:last-child {
	border-bottom: medium none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.changelog-ul li span {
	padding: 3px 5px;
	border-radius: 5px;
	display: inline-block;
	color: #fff;
}

.changelog-ul li .enhancement {
	background: #feb325;
}

.changelog-ul li .bug {
	background: #fe2525;
}

.changelog-ul li .feature {
	background: #25bdfe;
}

.recently-taken-quiz-ul li {
	position: relative;
	min-height: 50px;
	margin: 0;
	border-bottom: 1px solid #ede8e8;
	padding: 0 12px 12px 0;
	margin-bottom: 20px;
}

.recently-taken-quiz-ul li:last-child {
	margin-bottom: 0;
	border-bottom: medium none;
	padding-bottom: 0;
}

.recently-taken-quiz-ul li img.avatar {
	position: absolute;
	top: 0px;
	width: 60px;
}

.recently-taken-quiz-ul li .row-actions-c {
	margin: 0;
	padding: 0;
	visibility: hidden;
}

.recently-taken-quiz-ul li .row-actions-c .rtq-delete-result {
	color: #a00;
}

.recently-taken-quiz-ul li:hover .row-actions-c {
	visibility: visible;
}

.recently-taken-quiz-ul li .rtq-main-wrapper {
	padding-left: 75px;
}

.recently-taken-quiz-ul li .rtq-main-wrapper .rtq_user_info,
.recently-taken-quiz-ul li .rtq-main-wrapper .rtq-result-info {
	display: block;
	margin-bottom: 3px;
}

.recently-taken-quiz-ul li .rtq-main-wrapper span {
	font-size: 14px;
	color: #837878;
}

.recently-taken-quiz-ul li .rtq-main-wrapper .rtq_user_info a:first-child {
	text-transform: capitalize;
}

/**
* QSM Quiz Wizard
*/
#model-wizard .qsm-popup__container {
	padding: 0;
	background: #f3f3f3;
	min-width: 70vw;
	/* max-width: 1040px; */
	border-radius: 0;
	max-height: 85vh;
	overflow: hidden;
	position: relative;
}

#model-wizard .qsm-popup__content {
	margin: 0;
	max-height: 75vh;
	overflow-y: auto;
	/* padding-bottom: 59px; */
}

#model-wizard .qsm-popup__header {
	background: #fff;
	padding: 20px 10px 20px 10px;
	border-bottom: 1px solid #dfd4d4;
	display: none;
}

#model-wizard .qsm-popup__title {
	font-size: 24px;
	color: #515559;
	font-weight: normal;
}

#model-wizard .qsm-popup__content .qsm-wizard-template-section {
	width: 65%;
	padding: 35px 20px 20px 20px;
	border-right: 1px solid #dfd4d4;
	float: left;
	box-sizing: border-box;
}

#model-wizard .qsm-popup__content .quiz_name.qsm-required {
	border-color: #ff0000;
	outline: none !important;
	box-shadow: none;
}

#model-wizard .qsm-popup__content .template-inner-wrap h6 {
	font-size: 15px;
	margin-top: 30px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#model-wizard .qsm-popup__content .template-inner-wrap .template-list {
	width: 100%;
	display: inline-block;
}

#model-wizard .qsm-popup__content .template-inner-wrap .template-list .template-list-inner {
	width: 31%;
	margin-right: 2%;
	float: left;
	border: 1px solid #dfd4d4;
	height: 210px;
	text-align: center;
	margin-bottom: 2%;
	position: relative;
	cursor: pointer;
	box-sizing: border-box;
}

#model-wizard .qsm-popup__content .template-inner-wrap .template-list .template-list-inner:hover,
#model-wizard .qsm-popup__content .template-inner-wrap .template-list .template-list-inner.selected-quiz-template {
	border-color: #1e8cbe;
	-webkit-box-shadow: -2px -1px 13px -1px rgba(30, 140, 190, 1);
	-moz-box-shadow: -2px -1px 13px -1px rgba(30, 140, 190, 1);
	box-shadow: -2px -1px 13px -1px rgba(30, 140, 190, 1);
	transition: 0.2s all;
	-ms-transition: 0.2s all;
	-o-transition: 0.2s all;
	-webkit-transition: 0.2s all;
}

#model-wizard .qsm-popup__content .template-inner-wrap .template-list .template-list-inner:nth-child(3n + 3) {
	width: 33%;
	margin-right: 0%;
}

#model-wizard .qsm-popup__content .template-inner-wrap .template-list .template-list-inner .template-center-vertical {
	/*position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    */
	margin-top: 21px;
	height: 96px;
}

#model-wizard .qsm-popup__content .template-inner-wrap .template-list .template-list-inner:first-child .template-center-vertical {
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin-top: 0;
}

#model-wizard .qsm-popup__content .template-inner-wrap .template-list .template-list-inner .dashicons {
	font-size: 75px;
	color: #9ea3a8;
	display: inline-block;
	height: auto;
	width: auto;
}

#model-wizard .qsm-popup__content .template-inner-wrap .template-list .template-list-inner p.start_scratch {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #9ea3a8;
}

#model-wizard .qsm-popup__content .template-inner-wrap .template-list .template-list-inner h3 {
	margin: 0;
	padding: 10px;
	border-top: 1px solid #dfd4d4;
	font-size: 15px;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	bottom: 0;
}

#model-wizard .qsm-popup__content .template-inner-wrap .template-list .template-list-inner.inner-json {
	background: #fff;
}

#model-wizard .qsm-popup__footer {
	text-align: right;
	background: #fff;
	padding: 10px;
	border-top: 1px solid #dfd4d4;
	margin-top: -4px;
	position: absolute;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
}

#model-wizard .qsm-popup__footer button {
	padding: 3px 20px;
}

#model-wizard .qsm-popup__footer .qsm-wizard-borderless {
	border: none;
	background: transparent;
}

#model-wizard .qsm-popup__footer #prev-theme-button,
#model-wizard .qsm-popup__footer #prev-quiz-button {
	float: left;
	display: none;
}

#model-wizard .qsm-popup__footer #create-quiz-button,
#model-wizard .qsm-popup__footer #choose-addons-button {
	display: none;
}

#model-wizard .qsm-popup__footer .dashicons {
	font-size: 18px;
	vertical-align: middle;
}

#model-wizard .qsm-popup__footer .left-icons {
	margin-left: -9px;
}

#model-wizard .qsm-popup__footer .right-icons {
	margin-right: -9px;
	margin-left: 3px;
}

#model-wizard .qsm-popup__close {
	cursor: pointer;
	font-size: 20px;
	color: #515559;
	margin-right: 10px;
}

#model-wizard .qsm-wizard-setting-section {
	background: #fff;
	width: 35%;
	float: left;
}

#new-quiz-form {
	display: inline-block;
	width: 100%;
}

#model-wizard .qsm-wizard-setting-section .ui-accordion .ui-accordion-header {
	background: #fff;
	color: #000;
	border-radius: 0;
	border: none;
	font-size: 16px;
	font-weight: bold;
	padding-left: 20px;
	border-bottom: 1px solid #dfd4d4;
	padding-right: 20px;
	outline: 0 !important;
}

#model-wizard .qsm-quiz-page-addon.qsm-addon-page-list {
	width: 100%;
}

#model-wizard .qsm-addon-browse-addons {
	min-height: 60px;
}

#model-wizard .qsm-addon-browse-addons .qsm-addon-anchor-left .qsm-add-addon a.active {
	background: #2271b1;
}

#model-wizard .qsm-addon-news-ads {
	width: 100%;
}

#model-wizard .qsm-addon-news-ads .qsm-news-ads-title {
	padding: 10px;
	margin-top: 10px;
	font-size: 1em;
}

#model-wizard .qsm-addon-news-ads .qsm-info-widget {
	max-width: 30%;
	display: inline-block;
	margin-top: 50px;
	padding: 10px;
}

#model-wizard .qsm-addon-news-ads .qsm-info-widget h3 {
	font-size: 14px;
	line-height: 14px;
	margin-top: 40px;
	margin-bottom: 10px;
}

#model-wizard .qsm-addon-news-ads .qsm-info-widget p {
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

#model-wizard .qsm-addon-news-ads .qsm-info-widget .bundle-icon {
	width: 30px;
	height: 30px;
	padding: 20px;
	border-radius: 50%;
	position: absolute;
	top: -40px;
	left: calc(50% - 30px);
}

#model-wizard .qsm-addon-news-ads .qsm-info-widget .bundle-icon img {
	width: 30px;
}

#model-wizard .qsm_popular_addons div.popuar-addon-ul .addon-price {
	border: none;
	padding-top: 0px;
	margin: 0;
	text-align: center;
}

#model-wizard .qsm_popular_addons div.popuar-addon-ul .addon-get-link {
	float: none;
	background: transparent;
	color: #007cba;
	font-weight: bold;
	width: 100%;
	border: 0px;
	text-decoration: none;
	text-align: center;
}

#model-wizard .qsm_popular_addons div.popuar-addon-ul .addon-get-link span {
	vertical-align: bottom;
}

#model-wizard .qsm_popular_addons div.popuar-addon-ul>div {
	margin-bottom: 2%;
	box-shadow: 0px 0px 3px rgba(10, 10, 10, 0.2);
	width: 23%;
}

#model-wizard .qsm_popular_addons div.popuar-addon-ul>div>a {
	display: block;
	width: 100%;
}

#model-wizard .qsm_popular_addons a:active,
#model-wizard .qsm_popular_addons a:focus {
	outline: 0;
	box-shadow: none;
}

#model-wizard .qsm-addon-list-right {
	padding-right: 20px;
}

#model-wizard .market-theme .market-theme-url,
#model-wizard .downloaded-theme-button {
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all 200ms ease-in-out;
	text-align: center;
}

#model-wizard .market-theme .market-theme-url a,
#model-wizard .downloaded-theme-button span {
	margin: 5px;
	width: 100px;
	display: inline-block;
}

#model-wizard .market-theme:hover .market-theme-url,
#model-wizard .theme:hover .downloaded-theme-button {
	opacity: 1;
	top: 50%
}

#model-wizard div.popuar-addon-ul>div:nth-child(3n + 4) {
	clear: none;
}

#model-wizard .theme:focus .theme-screenshot img,
#model-wizard .theme:hover .theme-screenshot img {
	opacity: 0.1;
}

#accordion .ui-accordion-header-icon {
	position: absolute;
	right: 24px;
	top: 15px;
}

#accordion.ui-accordion .ui-accordion-content {
	border: medium none;
	border-bottom: 1px solid #dfd4d4;
	padding: 20px;
}

#accordion .ui-icon.iconOpen {
	background: url("../assets/up-1.png") no-repeat !important;
	background-size: cover !important;
}

#accordion .ui-icon.iconClosed {
	background: url(../assets/down-1.png) no-repeat !important;
	background-size: cover !important;
}

#accordion .ui-accordion-header:focus {
	outline: 0 !important;
	border: none !important;
}

#quiz_settings_wrapper tr {
	/*display: inline-block;*/
	width: 100%;
}

#quiz_settings_wrapper tr th,
#quiz_settings_wrapper tr td {
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	clear: both;
	text-align: left;
}

#quiz_settings_wrapper tr td {
	padding: 10px 0 20px 0;
}

#quiz_settings_wrapper tr:last-child td {
	padding-bottom: 0;
}

#quiz_settings_wrapper tr td label {
	margin-right: 15px;
	font-size: 14px;
}

#quiz_settings_wrapper tr th label {
	font-size: 14px;
	font-weight: bold;
}

#addons_list ul {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

#addons_list ul li {
	position: relative;
}

#addons_list ul li span.ra-attr {
	position: absolute;
	right: 0;
	padding: 5px;
	font-size: 10px;
	color: #fff;
	background: gray;
	border-radius: 5px;
	top: 0;
	text-transform: capitalize;
}

#addons_list ul li span.ra-attr.qra-att-recommended {
	background: #25bdfe;
}

#addons_list ul li span.ra-attr.qra-att-required {
	background: #31b400;
}

#addons_list ul li img {
	max-width: 100%;
}

#quiz_settings_wrapper .qsm-opt-tr .qsm-tooltips-icon {
	display: none;
}

div#quiz_settings_wrapper #timer_limit {
	width: 100px;
}

.postbox .handlediv {
	position: absolute;
	right: 0;
}

h2.hndle.ui-sortable-handle {
	border-bottom: 1px solid #ccd0d4;
}

#modal-2-content .qsm-new_menu_tab_items {
	width: 40%;
	border: unset;
	border-right: 2px solid #dddddd;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	padding: 20px !important;
}

#modal-2-content .qsm-new_menu_tab_items li {
	margin-bottom: 20px;
}

#modal-2-content .qsm-new_menu_tab_items li {
	padding: 0;
	margin: 0;
	border: solid 1px #dddddd;
	width: 100%;
	white-space: normal;
}

#modal-2-content .qsm-new_menu_tab_items li .nav-item-label {
	padding: 10px 15px;
	display: flex;
	align-items: center;
	line-height: 1.3;
}

#model-wizard .qsm-new_menu_tab_items li.active a {
	color: white;
	background: #0085ba;
	transition: all 500ms linear;
}

#model-wizard .qsm-new_menu_tab_items li a {
	background: #fff;
	color: #2d405a;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
	float: left;
	width: 100%;
}

#model-wizard .qsm-new_menu_tab_items .nav-item-label-icon {
	font-size: 32px;
	margin-right: 20px;
	line-height: 20px;
}

#model-wizard .nav-item-label .nav-item-label-content h4 {
	padding: 0;
	margin: 0;
}

#model-wizard .nav-item-label .nav-item-label-content span {
	font-size: 12px;
	font-weight: normal;
}

#model-wizard .qsm-new-menu-elements {
	width: 97%;
	padding: 2%;
	margin-bottom: 40px;
	margin-top: 55px;
	height: 100%;
	min-height: 45vh;
}

#model-wizard #modal-2-content {
	background: #f3f3f3;
	overflow-y: scroll;
	margin-left: 15px;
	margin: 0;
}

#model-wizard #modal-2-content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
	border-radius: 5px;
}

#model-wizard #modal-2-content::-webkit-scrollbar {
	width: 5px;
	background-color: #f5f5f5;
}

#model-wizard #modal-2-content::-webkit-scrollbar-thumb {
	background-color: #3b81b9;
	border-radius: 5px;
}

#model-wizard .qsm-new-menu-elements .input-group {
	width: 75%;
	margin: 0 auto;
	margin-bottom: 10px;
	background: #ffffff60;
	padding: 20px;
	position: relative;
}

#model-wizard .qsm-new-menu-elements .input-group .qsm-tooltips-icon {
	display: none;
}

#model-wizard .qsm-new-menu-elements .input-group .qsm-opt-desc {
	color: #666;
	font-size: 12px;
	display: block;
	text-align: left;
}

#model-wizard .qsm-new-menu-elements .input-group>label {
	/* color: #888; */
	display: inline-block;
	font-size: 16px;
	margin-bottom: 5px;
	font-family: inherit;
	width: 30%;
	text-align: left;
	margin-right: 20px;
	vertical-align: top;
}

#model-wizard .qsm-new-menu-elements input[type="text"],
#model-wizard .qsm-new-menu-elements input[type="number"],
#model-wizard .qsm-new-menu-elements select {
	width: 60%;
	max-width: 100%;
	height: 35px;
	border: solid 1px #dddddd;
	border-radius: 0;
}

#model-wizard .qsm-new-menu-elements fieldset {
	width: 60%;
	max-width: 100%;
	display: inline-block;
}

#model-wizard #qsm_span {
	width: 60%;
	display: inline-block;
}

#model-wizard #qsm_span .quiz_featured_image {
	width: 100%;
	margin-bottom: 10px;
}

#model-wizard .featured_image {
	display: none;
}

#model-wizard .empty-market-place {
	position: absolute;
	top: 45%;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

#model-wizard .empty-market-place span {
	color: #ccc;
	margin: 0 auto;
}

#model-wizard .empty-market-place span.dashicons {
	font-size: 50px;
	margin-bottom: 10px;
	display: contents;
}

#model-wizard .empty-market-place span.no-themes-message {
	font-size: 20px;
}

#select_themes .theme {
	width: 23%;
	margin: 0 2% 2% 0;
}

#select_themes .theme .theme-name {
	padding: 10px 15px;
	display: none;
	margin-top: -38px;
}

#select_themes .theme.active .theme-name {
	display: block;
	box-shadow: 0 1px 1px rgb(0 0 0 / 50%);
	transition: all 0.5s ease !important;
}

#select_themes #qsm-theme-screenshot:after {
	content: "";
	display: block;
	padding-top: 100%;
}

#select_themes .theme:nth-child(4n) {
	margin-right: 0;
}

#addons_list ul {
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
}

#addons_list ul li {
	position: relative;
	border: 1px solid #c4c4c4;
}

#addons_list ul li span.ra-attr {
	position: absolute;
	right: 0;
	padding: 5px;
	font-size: 10px;
	color: #fff;
	background: gray;
	border-radius: 0 0 0 10px;
	top: 0;
	text-transform: capitalize;
}

#addons_list ul li span.ra-attr.qra-att-recommended {
	background: #25bdfe;
}

#addons_list ul li span.ra-attr.qra-att-required {
	background: #31b400;
}

#addons_list ul li img {
	max-width: 100%;
}

/*
* New wizard style
*/
.qsm-wizard-menu {
	width: 100%;
	display: flex;
	background: #fff;
	position: absolute;
	z-index: 1;
	border-bottom: 1px solid #dfd4d4;
	justify-content: center;
}

.qsm-wizard-menu .qsm-logo {
	position: absolute;
	top: 0px;
	left: 15px;
}

.qsm-wizard-menu .qsm-logo img {
	height: 80px;
	margin-top: -10px;
}

.qsm-wizard-menu .qsm-wizard-wrap {
	padding: 15px;
	transition: border 0.5s ease;
	border-bottom: 3px solid #3b81b9;
	cursor: pointer;
}

.qsm-wizard-menu .qsm-wizard-wrap:not(.active) {
	opacity: 0.5;
	border-color: white;
	border-image: none;
}

.qsm-wizard-menu .qsm-wizard-step-number {
	background: #0085ba;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	margin-right: 10px;
}

.qsm-wizard-menu .qsm-wizard-step-text {
	display: inline-block;
	font-size: 16px;
	text-transform: capitalize;
	position: relative;
	top: 3px;
}

.qsm-wizard-menu .qsm-wizard-step-text-optional {
	padding: 2px 5px;
	border-radius: 3px;
	font-size: 11px;
	font-weight: bold;
	position: relative;
	top: 19px;
	opacity: 0.7;
	left: -17px;
	color: #a6a6a6;
}

.theme-sub-menu {
	margin: 0 0 15px 0;
	padding: 0;
}

.theme-sub-menu li {
	display: inline-block;
	margin-right: 15px;
	border-right: 1px solid #ccc;
	padding-right: 15px;
}

.theme-sub-menu li:last-child {
	border-right: medium none;
}

.theme-sub-menu li.active a {
	color: #0073aa;
}

.theme-sub-menu li a {
	color: #888888;
	text-decoration: none;
	font-size: 13px;
}

.theme-sub-menu li a:active,
.theme-sub-menu li a:focus {
	outline: 0;
	border: none;
	-moz-outline-style: none;
	box-shadow: none;
}

#quiz_settings .input-group {
	box-shadow: 0 0 3px rgba(10, 10, 10, 0.2);
}

.qsm_dashboard_page .welcome-panel-column{
	display: block;
}

.qsm_dashboard_page.welcome-panel h2 {
    margin: 0;
    font-size: 21px;
    font-weight: 400;
	color: #1d2327;
    line-height: 1.2;
}

.qsm_dashboard_page.welcome-panel::before{
	content: none;
}

.qsm_dashboard_page.postbox {
    padding: 23px 10px 0;
}

.qsm_dashboard_page .welcome-panel-content {
    margin-left: 13px;
    min-height: auto;
    display: block;
}

.qsm_dashboard_page .welcome-panel-column-container {
    padding: 0 !important;
    margin: 1.33em 0 0 !important;
}

.qsm_dashboard_page p.about-description {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #646970;
}

.qsm_dashboard_page .welcome-panel h3 {
    margin: 1.33em 0 0;
}

@media screen and (min-width: 1200px) {
	#quiz_settings_wrapper tr td fieldset>br {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	#quiz_settings_wrapper tr td label {
		vertical-align: top;
		margin-bottom: 15px;
		display: inline-block;
	}

	#model-wizard .qsm-popup__container {
		width: 90%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#model-wizard .qsm-popup__content .template-inner-wrap .template-list .template-list-inner {
		width: 48%;
	}

	#model-wizard .qsm-popup__content .template-inner-wrap .template-list .template-list-inner:nth-child(2n + 2) {
		margin-right: 0;
		width: 50%;
	}

	#model-wizard .qsm-popup__content .template-inner-wrap .template-list .template-list-inner:nth-child(3n + 3) {
		margin-right: 2%;
		width: 48%;
	}
}

@media screen and (max-width: 767px) {
	#model-wizard .qsm-popup__container {
		width: 90%;
	}

	#model-wizard .qsm-popup__content .qsm-wizard-template-section {
		width: 100%;
	}

	#model-wizard .qsm-popup__content .template-inner-wrap .template-list .template-list-inner:nth-child(2n + 2),
	#model-wizard .qsm-popup__content .template-inner-wrap .template-list .template-list-inner {
		width: 100% !important;
	}

	#model-wizard .qsm-wizard-setting-section {
		width: 100%;
		height: auto !important;
	}

	#quiz_settings_wrapper tr td label {
		margin-bottom: 20px;
		display: inline-block;
		vertical-align: top;
	}

	#model-wizard .qsm-popup__title {
		font-size: 16px;
	}

	#model-wizard .qsm-new-menu-elements .input-group {
		width: 90%;
	}

	#model-wizard .qsm-new-menu-elements .input-group label,
	#model-wizard .qsm-new-menu-elements .input-group input[type="text"],
	#model-wizard .qsm-new-menu-elements .input-group select {
		text-align: left;
		display: block;
		margin: 0px;
		width: 100%;
	}

	#model-wizard .qsm-new-menu-elements .input-group .qsm-opt-desc {
		display: none;
	}

	.welcome-panel h2 {
		width: calc(100% - 100px);
	}
}

@media only screen and (max-width: 1800px) and (min-width: 1500px) {
	#wpbody-content #dashboard-widgets #postbox-container-1 {
		width: 50%;
	}

	#wpbody-content #dashboard-widgets #postbox-container-2 {
		width: 50%;
	}
}