.welcome-panel-column .dashicons {
    /* font-size: 30px; */
    color: #606a73;
    font-size: 23px;
    margin-right: 5px;
}
.welcome-panel .welcome-panel-close{
    top: -20px;
}
.welcome-panel .welcome-panel-close img{
    width: 100px;
}
.welcome-panel .welcome-panel-close:before{
    content: none !important;
}
.welcome-panel .current_version{
    color: #344AD4;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: relative;
    top: -30px;
}
.popuar-addon-ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.popuar-addon-ul li img{
    max-width: 100%;
}
.pa-all-addon {
    text-align: right;            
    margin-bottom: 10px;
}
.pa-all-addon a{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.what-new-ul li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccbfbf;
    padding-bottom: 20px;
}
.what-new-ul li:last-child{
    border-bottom: medium none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.what-new-ul li a{
    font-size: 14px;
    color: #222;
    font-weight: 500;
    transition: 0.2 all;
    -webkit-transition: 0.2 all;
    -ms-transition: 0.2 all;
}
.what-new-ul li a:hover{
    color: #0073aa;
}
.what-new-ul li .post-description{
    margin-top: 10px;
}
.what-new-ul li .post-description p{
    margin: 0;
    padding: 0;
}
.changelog-ul li{
    border-bottom: 1px solid #ede8e8;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.changelog-ul li:last-child{
    border-bottom: medium none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.changelog-ul li span{
    padding: 3px 5px;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
}
.changelog-ul li .enhancement{
    background: #FEB325;            
}
.changelog-ul li .bug{
    background: #FE2525;            
}
.changelog-ul li .user_request{
    background: #25BDFE;            
}
.recently-taken-quiz-ul li{
    position: relative;
    min-height: 50px;
    margin: 0;
    border-bottom: 1px solid #ede8e8;
    padding: 0 12px 12px 0;
    margin-bottom: 20px; 
}
.recently-taken-quiz-ul li:last-child{
    margin-bottom: 0; 
    border-bottom: medium none;
    padding-bottom: 0;
}
.recently-taken-quiz-ul li img.avatar{
    position: absolute;
    top: 0px;
    width: 60px;
}                
.recently-taken-quiz-ul li .row-actions-c{
    margin: 0;
    padding: 0;
    visibility: hidden;
}
.recently-taken-quiz-ul li .row-actions-c .rtq-delete-result{
    color: #a00;
}
.recently-taken-quiz-ul li:hover .row-actions-c{
    visibility: visible;
}
.recently-taken-quiz-ul li .rtq-main-wrapper{
    padding-left: 75px;
}
.recently-taken-quiz-ul li .rtq-main-wrapper .rtq_user_info,
.recently-taken-quiz-ul li .rtq-main-wrapper .rtq-result-info{
    display: block;
    margin-bottom: 3px;
}
.recently-taken-quiz-ul li .rtq-main-wrapper span {
    font-size: 14px;
    color: #837878;
}
.recently-taken-quiz-ul li .rtq-main-wrapper .rtq_user_info a:first-child{
    text-transform: capitalize;
}
@media only screen and (max-width: 1800px) and (min-width: 1500px){
    #wpbody-content #dashboard-widgets #postbox-container-1 {
        width: 50%;
    }
    #wpbody-content #dashboard-widgets #postbox-container-2 {
        width: 50%;
    }
}
