/**
* Created by dev: 06-11-2019
*/
.pages_count,
.qsm-page .pages_count,
.quiz_section .pages_count {
	display: block;
	text-align: center;
}
.mlw_qmn_question p:empty,
.qsm-d-none {
	display: none;
}
.MJXc-display {
	display: inline-block !important;
}

body .quiz_section .qsm_contact_div .mlw_qmn_question {
	display: block;
}

.mlw_qmn_question.polar-question-title {
	margin-bottom: 10px;
}

.polar-question-title {
	margin-bottom: 50px;
	font-size: 16px;
	line-height: 20px;
}

div .quiz_section .question-type-polar-s,
.qsm_questions_answers_section .mlw_qmn_question .question-type-polar-s,
.qsm-quiz-container .mlw_qmn_question .question-type-polar-s {
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	align-content: space-between;
	align-items: center;
}

.question-type-polar-s img {
	max-width: 100%;
	object-fit: cover;
}

.question-type-polar-s br {
	display: none;
}
.question-type-polar-s .left-polar-title {
	width: auto;
	max-width: 25%;
}
.question-type-polar-s .slider-main-wrapper {
	width: calc(50% - 20px);
	padding-left: 10px;
	padding-right: 10px;
}
.question-type-polar-s .right-polar-title {
	width: auto;
	max-width: 25%;
}
.question-type-polar-s .qsm_image_caption {
	display: block;
}
.qsm-popup-slide.is-open {
	display: block !important;
}
.qsm-popup-slide[aria-hidden="false"] .qsm-popup__overlay {
	animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.qsm-popup-slide[aria-hidden="false"] .qsm-popup__container {
	animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.qsm-popup-slide[aria-hidden="true"] .qsm-popup__overlay {
	animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.qsm-popup-slide[aria-hidden="true"] .qsm-popup__container {
	animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.qsm-popup-slide .qsm-popup__container,
.qsm-popup-slide .qsm-popup__overlay {
	will-change: transform;
}
.qsm-popup {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}
.qsm-popup__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}
.qsm-popup__container {
	background-color: #fff;
	padding: 30px;
	min-width: 500px;
	max-width: 700px;
	max-height: 95vh;
	border-radius: 4px;
	overflow-y: auto;
	box-sizing: border-box;
}
.qsm-popup__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.qsm-popup__title {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.25;
	color: #2271b1;
	box-sizing: border-box;
}
.qsm-theme-color-settings .qsm-popup__content label {
	font-weight: 400;
}
.qsm-popup__close {
	background: transparent;
	border: 0;
	color: #00449e;
	text-decoration: none;
}
.qsm-popup__header .qsm-popup__close:before {
	content: "\2715";
}
.qsm-popup__content {
	margin-top: 2rem;
	margin-bottom: 2rem;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.8);
}
body .qsm-popup__btn {
	font-size: 0.875rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	border-radius: 0.25rem;
	border-style: none;
	border-width: 0;
	cursor: pointer;
	-webkit-appearance: button;
	text-transform: none;
	overflow: visible;
	line-height: 1.15;
	margin: 0;
}
body .qsm-popup__btn-primary {
	background-color: #00449e;
	color: #fff;
}
.qsm_image_result_caption,
.qsm_image_result_caption_default {
	background-color: white;
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 5px 5px 5px 27px;
}
.question-type-polar-s .ui-widget-content {
	background: #a5a5a5;
	border-color: #a5a5a5;
	border-radius: 0;
	height: 20px;
}
.question-type-polar-s .ui-widget-content .ui-slider-handle {
	background: rgb(119, 113, 113);
	height: 32px;
	border-color: rgb(119, 113, 113);
	top: -7px;
	border-radius: 0px;
	text-decoration: none;
	color: #fff !important;
	display: flex;
	justify-content: center;
}
.site .question-type-polar-s a.ui-state-focus:focus {
	background: rgba(119, 113, 113, 1);
	border-color: rgb(119, 113, 113, 1);
	text-decoration: none;
}
.qsm-deselect-answer {
	float: right;
}
.qsm-popup__btn-primary {
	margin-right: 30px;
}
.submit-the-form {
	margin-left: 15px !important;
}
body .qsm-popup__container {
	padding-top: 40px;
	padding-bottom: 50px;
}
body .qsm-popup__header {
	text-align: left;
}
body .qsm-popup .qsm-popup__btn {
	font-size: 16px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}
body #modal-3.qsm-popup .qsm-popup__content,
body .qsm-popup__content {
	text-align: center;
}
body .qsm-popup__content > img {
	display: inline-block;
	width: 70px;
}
body .qsm-popup__content > p.qsm-time-up-text {
	font-weight: bold;
	font-size: 24px;
	margin-top: 10px;
	font-family: inherit;
}
footer.qsm-popup__footer {
	text-align: center;
	padding: 10px;
}
footer.qsm-popup__footer button.qsm-popup-secondary-button {
	background-color: #808080 !important;
}
footer.qsm-popup__footer button.qsm-popup-secondary-button:hover {
	background-color: #808080 !important;
	opacity: 0.9;
}
.qsm-quiz-container select,
.qsm-quiz-container input[type=checkbox],
.qsm-quiz-container input[type=radio] {
	cursor: pointer;
}
.qmn_accept_answers input[type=checkbox] {
	vertical-align: top;
	position: relative;
	bottom: -5px;
}
.qsm-quiz-container .qsm-contact-type-checkbox {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	align-content: center;
}
.qsm-quiz-container .qsm-contact-type-checkbox input {
	margin: 0 5px 9px 3px;
}
.mlw_qmn_question_number {
	font-weight: bold;
}
.quiz_section .mlw_qmn_new_question {
	font-weight: bold;
	display: inline;
	width: auto;
	margin-bottom: 10px;
}
.quiz_section .mlw_qmn_question.qsm_remove_bold {
	font-weight: normal;
	display: block;
	margin-bottom: 10px;
}
.qsm-quiz-container .quiz_section .qsm-align-fill-in-blanks:not(.qsm_remove_bold) {
	display: inline-block;
}
.quiz_section iframe {
	width: 100% !important;
	min-height: 315px !important;
}
.qsm-progress-bar .progressbar-text {
	font-size: 13px;
    font-weight: bold;
    color: rgb(52, 152, 219);
    width: 50px;
    margin-left: 10px;
}
.qsm-progress-bar{
	display: flex;
	flex-direction: row-reverse;
    align-items: center;
	padding: 0;
}
.quiz_section .mlw-file-upload-error-msg {
	color: red;
	display: block;
}
.quiz_section .mlw-file-upload-error-msg.mlw-file-upload-success-msg {
	color: green;
	display: block;
}
.quiz_section .qsm-file-upload-container {
	border: 3px dashed rgba(84, 116, 130, 0.32);
    padding: 15px;
    background: #EBEEF0;
    border-radius: 5px;
    max-width: 300px;
	cursor: pointer;
}
.quiz_section .qsm-file-upload-container.file-hover,
.quiz_section .qsm-file-upload-container:hover {
	border: 3px solid #229ACD;
	padding: 15px;
}

.quiz_section .qsm-file-upload-container.file-hover {
	background-color: lightgray;
}
.quiz_section .qsm-file-upload-container .qsm-file-upload-logo {
	font-size: 45px;
    height: 100%;
    width: 100%;
    color: #8FA0AA;
}
.quiz_section .qsm-file-upload-container .qsm-file-upload-message {
	text-align: center;
	font-size: 14px;
	color: #555;
}
.quiz_section .qsm-file-upload-container .qsm-file-upload-message a {
	color: #8FA0AA;
    text-decoration: none;
    font-weight: bold;
}
.quiz_section .qsm-file-upload-container .qsm-file-upload-name {
    text-align: center;
    font-size: 14px;
    padding: 5px;
    font-weight: bold;
    color: #555;
    overflow-wrap: anywhere;
}
.quiz_section .qsm-file-upload-container .qsm-file-upload-status {
    display: none;
    width: calc(100% + 30px);
    margin: 0 -15px -15px;
    position: inherit;
    font-weight: normal;
	text-align: center;
	font-size: 15px;
}
.qsm-processing {
	background-color: rgb(219, 218, 218);
	color: black;
	font-weight: 600;
}
.qsm-error {
	background-color: rgb(255, 221, 221);
	color: red;
}
.qsm-success {
	background-color: rgb(221, 255, 221);
	color: green;
}
.quiz_section .remove-uploaded-file {
	color: red;
	display: inline-block;
	cursor: pointer;
	margin-top: 5px;
	border: 1px solid red;
	border-radius: 50%;
	position: relative;
    left: 345px;
    bottom: 150px;
}
.quiz_section .loading-uploaded-file {
	width: 20px;
	margin-bottom: -5px;
}

/**
* Design for new template variable QUESTION_WITH_ANSWER
*/

.mlw_qmn_question .qmn_user_incorrect_answer {
	display: block;
	color: #dc3232;
	margin-bottom: 5px;
	padding-left: 10px;
}
.mlw_qmn_question span.qmn_user_incorrect_answer::before {
	position: relative;
	top: 3px;
	content: "\f335";
	font-family: dashicons;
	left: -10px;
}

.mlw_qmn_question .qmn_user_correct_answer {
	display: block;
	color: green;
	margin-bottom: 5px;
	padding-left: 10px;
}
.mlw_qmn_question .qmn_user_correct_answer:before {
	content: "\f159";
	font-family: dashicons;
	position: relative;
	top: 3px;
	left: -10px;
}

.mlw_qmn_question .qsm-text-wrong-option {
	display: block;
	color: #dc3232;
	margin-bottom: 5px;
	padding-left: 10px;
}
.mlw_qmn_question span.qsm-text-wrong-option::before {
	content: "\f335";
	font-family: dashicons;
	position: relative;
	top: 3px;
	left: -10px;
}
.mlw_qmn_question .qsm-text-correct-option {
	display: block;
	color: green;
	margin-bottom: 5px;
	padding-left: 10px;
}
.mlw_qmn_question .qsm-text-correct-option:before {
	content: "\f159";
	font-family: dashicons;
	position: relative;
	top: 3px;
	left: -10px;
}
body .qsm-results-page .mlw_qmn_question .qmn_image_option:before {
	position: absolute;
	top: calc(100% - 40px);
	left: 15px;
	background: #fff;
	border-radius: 50%;
	line-height: 1;
	margin-top: 5px;
}
.qmn_question_answer img {
    max-width: 100%;
}
.qsm-results-page .mlw_qmn_question .qmn_image_option {
	flex-direction: column;
	flex-wrap: nowrap;
	height: auto;
}
.mlw_qmn_question .qsm-text-correct-option.qsm-text-user-correct-answer:before {
	content: "\f12a";
	top: 4px;
}
.mlw_qmn_question .qsm-text-simple-option {
	display: block;
	margin-bottom: 5px;
	color: #808080;
	padding-left: 10px;
}
.mlw_qmn_question .qsm-text-simple-option:before {
	content: "\f159";
	font-family: dashicons;
	position: relative;
	top: 3px;
	left: -10px;
}
.qsm-results-page .qmn_question_answer.qsm-add-border-bottom {
	border-bottom: 1px solid #808080;
	padding-bottom: 25px;
}
.qmn_quiz_container.qsm_auto_pagination_enabled {
	position: relative;
}
.qmn_quiz_container.qsm_auto_pagination_enabled  .quiz_section.quiz_end .qsm-btn {
	position: absolute;
	bottom: 15px;
	right: 0;
	z-index: 1;
}
.qsm-disabled-btn {
    opacity: 0.5;
    pointer-events: none;
}
.quiz_section input[type="text"].qmn_fill_blank {
	display: inline-block;
}
.multi-checkbox-limit-reach {
	color: red;
	margin-top: 5px;
	display: inline-block;
	width: 100%;
}
.quiz_section .qsm-inline-correct-info {
	margin-bottom: 0;
	margin-top: 10px;
}
.quiz_section.qmn_error .mlw_answer_date {
	border: 1px solid #da4f49;
	background: #f2dede;
	padding: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.qsm_social_share_link {
	display: inline-block;
	cursor: pointer;
}
.qsm-quiz-form .mlw_answer_open_text,
.qsm-quiz-form  .mlw_answer_number{
	margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
	.question-type-polar-s .left-polar-title,
	.question-type-polar-s .slider-main-wrapper,
	.question-type-polar-s .right-polar-title {
		width: 100%;
		margin-bottom: 30px;
	}
	.question-type-polar-s {
		height: auto;
	}
	body .quiz_section .qmn_radio_answers label,
	body .quiz_section .qmn_check_answers label,
	body .quiz_section .qmn_accept_answers label {
		font-size: 14px;
	}
	.question-type-polar-s .left-polar-title {
		order: 1;
		max-width: calc(50% - 10px);
		padding-right: 10px;
	}
	.question-type-polar-s .right-polar-title {
		order: 2;
		max-width: calc(50% - 10px);
		text-align: right;
		padding-left: 10px;
	}
	.question-type-polar-s .slider-main-wrapper {
		order: 3;
	}
}
.qsm_tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.qsm_tooltip .qsm_tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}
.qsm_tooltip .qsm_tooltiptext a {
	background-color: black;
	color: #fff;
}
.qsm_tooltip:hover .qsm_tooltiptext {
	visibility: visible;
}
body .ui-tooltip,
.hint-qsm-tooltip,
body .ui-tooltip.ui-widget-content {
	box-shadow: none;
	background: #222;
	color: #fff;
	border-radius: 6px;
	box-sizing: border-box;
	padding: 6px 10px;
	font-size: 14px;
	line-height: 22px;
	text-align: justify;
}
.qsm-tooltip-arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}
.qsm-tooltip-arrow.top {
	top: -16px;
	bottom: auto;
}

.qsm-tooltip-arrow:after {
	content: "";
	background: #222;
	border: 1px solid rgb(243, 243, 243);
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.qsm-tooltip-arrow.top:after {
	bottom: -20px;
	top: auto;
}

.qsm_quiz_processing_box {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
}
.qsm_quiz_processing_box .qsm_quiz_processing_message {
	margin: 10px 0;
}
.qsm-text-correct-option.not-opted {
	color: #6f7479;
}
.admin_page_qsm_quiz_result_details  .qmn_image_option img,
.quiz_section .qmn_image_option img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.admin_page_qsm_quiz_result_details  .qmn_image_option img {
	overflow: hidden;
}
.admin_page_qsm_quiz_result_details .qmn_image_option {
	width: 48%;
	height: 250px;
	display: inline-flex;
	position: relative;
	flex-wrap: nowrap;
	overflow: hidden;
	padding: 1%;
	box-sizing: border-box;
	align-items: flex-end;
}
.admin_page_qsm_quiz_result_details .qsm_image_result_caption_default {
	display: block;
	width: calc(100% - 45px);
	box-sizing: content-box;
	position: absolute;
	left: 27px;
	right: 50px;
	padding: 5px;
	bottom: 10px;
	z-index: 99;
	color: black;
}
.admin_page_qsm_quiz_result_details .qmn_question_answer.qsm-add-border-bottom {
	border-bottom: 1px solid #808080;
	padding-bottom: 25px;
}
.qmn_btn,
.qsm-quiz-container.qmn_quiz_container .qmn_btn,
.qsm-quiz-container.qmn_quiz_container .btn {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	color: #666;
	background: #ccc;
	border: 1px solid #ccc;
	font-family: inherit;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	min-width: 100px;
	padding: 10px 20px;
	cursor: pointer;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, .05);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, .05);
	-webkit-transition: background .25s ease-out;
	-moz-transition: background .25s ease-out;
	transition: background .25s ease-out;
}
.qsm-result-page-warning {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}
.qsm-question-wrapper.qsm-active-question{
	border: 1px dotted #828282d1;
}
.qsm-quiz-container input[type=checkbox],
.qsm-quiz-container input[type=radio] {
	vertical-align: top;
	margin-top: 5px;
}
.quiz_section fieldset {
	border: none;
	padding: 0;
	margin: 0;
}
.mlw_qmn_hint_link {
	text-decoration: none;
}
.qsm_accessibility_label {
	color: transparent;
}