/**
* Created by dev: 06-11-2019
*/
.pages_count,
.qsm-page .pages_count,
.quiz_section .pages_count{
    display: block;
    text-align: center;
}
.mlw_qmn_question p:empty{
    display: none;
}
.MJXc-display{
    display: inline-block !important;
}
.mlw_qmn_question{
    display: block;
}
.polar-question-title{
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
}
.question-type-polar-s{
    display: inline-block !important;
    position: relative;
    width: 100%;
}
.question-type-polar-s br{
    display: none;
}
.question-type-polar-s .left-polar-title{
    width: 25%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    line-height: normal;
}
.question-type-polar-s .slider-main-wrapper{
    width: 45%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.question-type-polar-s .right-polar-title{
    width: 25%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    line-height: normal;
}
.question-type-polar-s .ui-widget-content{
    background: #A5A5A5;
    border-color: #A5A5A5;
    border-radius: 0;
    height: 20px;    
}
.question-type-polar-s .ui-widget-content .ui-slider-handle{
    background: rgb(119, 113, 113);
    height: 32px;
    border-color: rgb(119, 113, 113);
    top: -7px;
    border-radius: 0px;
}
.qsm-deselect-answer{
    float: right;
}
.qsm-popup__close {
    text-decoration: none !important;
}
.qsm-popup__btn-primary{
    margin-right: 30px;
}
.submit-the-form {
    margin-left: 15px !important;
}
body .qsm-popup__container{
    padding-top: 40px;
    padding-bottom: 50px;
}
body .qsm-popup__header{
    text-align: left;
}
body .qsm-popup .qsm-popup__btn {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
body .qsm-popup__content{
    text-align: center;
}
body .qsm-popup__content > img{
    display: inline-block;
    width: 70px;
}
body .qsm-popup__content > p.qsm-time-up-text{
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    font-family: inherit;
}
footer.qsm-popup__footer{
    text-align: center;
}
footer.qsm-popup__footer button.qsm-popup-secondary-button{
    background-color: #808080 !important;
}
footer.qsm-popup__footer button.qsm-popup-secondary-button:hover{
    background-color: #808080 !important;
    opacity: 0.9;
}
.qsm-quiz-container .qsm-contact-type-checkbox input{
    display: inline-block;
}
.quiz_section iframe{    
    width: 100% !important;
    min-height: 315px !important;
}
.qsm-progress-bar .progressbar-text{
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 10px !important;
    right: 10px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(52, 152, 219);
}
@media screen and (max-width: 767px){
    .question-type-polar-s .left-polar-title,
    .question-type-polar-s .slider-main-wrapper,
    .question-type-polar-s .right-polar-title{
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        transform: none;
        margin-bottom: 30px;
    }   
    .question-type-polar-s{
        height: auto !important;
    }
}