/********************
Quizzes/Surveys Page
*********************/

.qsm-quizes-page .widefat td {
  font-size: 16px !important;
}

.qsm-quiz-page-wrapper {
  width: 100%;
  float: left;
}

.qsm-quiz-page-wrapper-with-ads {
  width: 85%;
  float: left;
}

.qsm-news-ads {
  width: 13%;
  float: right;
  padding: 1%;
  background-color: white;
}

.qsm-news-ads-title {
  text-align: center;
  border-bottom: 1px solid black;
}

.qsm-edit-name {
  font-size: 12px !important;
}

.qsm-action-link {
  font-size: 14px !important;
}

.qsm-action-links:hover {
  background-color: black;
}

.qsm-action-link-delete {
  color: red !important;
}

.qsm-dialog-form {

}

.qsm-dialog-form label {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding-right: 30px;
}



/********************
Options Page
*********************/

.template_list_holder {
  width: 100%;
}
.template_variable {
  width: 50%;
  float: left;
  font-size: 14px;
}
.template_name {
  font-weight: bold;
}



/********************
About/Credits Page
*********************/

div.mlw_qmn_icon_wrap {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0d97d8;
  color: yellow;
  background-position: center 24px;
  background-size: 85px 85px;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  margin: 5px 0 0;
  padding-top: 120px;
  height: 40px;
  display: inline-block;
  width: 150px;
  text-rendering: optimizeLegibility;
  border: 5px solid #106daa;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

ul.changelog {
  background-color: #fff;
  padding: 10px 10px;
}

ul.changelog li {
  padding: 4px 0px;
}

ul.changelog li div.two{
  width: 70%;
  float: left;
  display: inline-block;
  height: 25px;
  margin-right: 20px;
  background: #D9E0E4;
  text-align: center;
  line-height: 25px;
}

ul.changelog li.fixed > div {
  background:#F0FFE1;
  color: #444;
  border-right:1px solid #5cb85c;
  width: 20%;
}

ul.changelog li.fixed div.two:before {
  content: "\f147";
  font-family: "dashicons";
  color:#5CB85C;
  margin-right: 5px;
}

ul.changelog li.add > div{
  background:#FFEED0;
  color: #444;
  border-right:1px solid #EFA537;
  width: 20%;
}

ul.changelog li.add div.two:before {
  content: "\f155";
  font-family: "dashicons";
  color:#EFA537;
  margin-right: 5px;
}


/********************
Help Page
*********************/

.quiz_email_support p#mlw_support_message {
  color: red;
  font-size: 20px;
}

.quiz_email_support input, .quiz_email_support textarea {
  width: 100% !important;
}

.quiz_email_support textarea {
  min-height: 200px;
}

.quiz_email_support label {
  font-weight: bold;
}
