.question-controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}
.qsm_tab_content a.button-gray{
	border: transparent;
}
#delete-question-button {
	background-color: #dc3232;
}
#delete-question-button , #unlink-question-button {
	display: inline-flex;
	margin: 0 5px;
	align-items: center;
	flex-wrap: nowrap;
}
#delete-question-button .dashicons, #unlink-question-button .dashicons{
    margin-right: 5px;
}
#modal-7 .qsm-popup__container{
	max-width: 560px;
}
#modal-8 {
	max-width: 500px;
}
#modal-8 hr {
	margin: 0 -20px;
}
#modal-8 header {
	margin: -10px 0 10px 0;
}
#modal-8 .qsm-popup__close {
	margin: -10px -10px 0 0;
	font-size: 20px;
}
#modal-8-title{
	color: #00449e;
	opacity: 70%;
}
#modal-8 footer .dashicons{
	font-size: 20px;
	margin-right: 3px;
	vertical-align: middle;
	margin-left: -10px;
}
#modal-8 .qsm-popup__container {
	max-width: 560px;
	padding-bottom: 20px;
}
.modal-7-table, .modal-8-table {
	font-size: 16px;
}
.modal-7-table tr td, .modal-8-table tr td {
	vertical-align: top;
	padding: 0 10px 5px 0
}
#modal-8 footer {
	margin-top: 15px;
}
#modal-9-content .info {
	width: 100%;
	margin: 5px 0 0;
	color: red;
	font-size: 15px;
}
.page {
	width: 100%;
	background-color: #fafafa;
	margin: 20px 0;
	padding-bottom: 90px;
	border: 1px solid #dadadb;
	position: relative;
	box-sizing: border-box;
}
.page-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fafafa;
	padding: 15px 20px;
	margin: 0 0 20px;
	box-shadow: 0 2px 6px 0 #DADADB;
}
.page-header .dashicons {
	color: #A6ABAF;
	font-size: 25px;
}
.page-header .dashicons.dashicons-trash {
	color: #dc3232;
}
.page-header .edit-page-button {
	margin: 0 10px;
}
.page-header .edit-page-button span {
	color: #1F8CBE;
}
.page-header span.page-number {
	font-size: 18px;
	color: #A6ABAF;
	display: inline-block;
	font-style: italic;
	margin: 3px 10px 0;
}
.page-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 8px 20px;
	box-sizing: border-box;
	background-color: #fafafa;
	box-shadow: 0 -2px 6px 0 #dadadb;
}
.page-footer a.qsm-dashed-btn{
	min-width: 45%;
	padding: 8px 15px;
}
.page-footer a.button .dashicons, .new-answer-button a#new-answer-button .dashicons {
	line-height: 32px;
}
.question-create-page {
	text-align: center;
}
.question-create-page .new-page-button .dashicons {
	line-height: 30px;
	font-size: 16px;
}
.page-header a {
	text-decoration: none;
}
.page-header-buttons {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}
.question, .question-bank-question {
	box-sizing: border-box;
	background: #ffffff;
	border: 1px solid #dfd4d4;
	border-radius: 3px;
	padding: 6px 5px;
	margin: 10px 20px 0;
}
.question a {
	text-decoration: none;
}
.question-content {
	display: flex;
	width: 100%;
	min-height: 40px;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	position: relative;
}
.question-content-title-box{
	max-width: calc(100% - 200px);
	line-height: 20px;
}
.question-content .qsm-actions-link-box{
	display: none;
}
.question.opened .qsm-actions-link-box, .question-content:hover .qsm-actions-link-box{
	display: inline-flex;
}
.question-content .dashicons.dashicons-move {
	color: #A6ABAF;
	font-size: 22px;
}
.question-content .question-content-text {
	color: #1F8CBE;
	font-size: 16px;
	font-weight: 500;
	margin: 2px 0;
}
.question-content .form-actions{
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	position: absolute;
	right: 10px;
	margin: 0;
	width: 140px;
	justify-content: center;
}
.question-content .question-category {
	color: #939697;
	font-weight: normal;
	font-style: italic;
	margin: 3px 0;
}
.question-content>div {
	margin: 0 10px;
}
.question-content-text {
	flex-grow: 1;
}
.question-bank-question {
	display: flex;
	align-items: center;
	justify-content: space-between;
	clear: both;
	padding: 0 10px;
	margin: 10px 0 0;
}
.qsm-question-bank-select .qsm-select-all-label {
	margin-right: 15px;
	position: relative;
	top: 5px;
	vertical-align: top;
}
.qsm-question-bank-filters{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	padding: 0 20px;
}
.qsm-question-bank-search{
	display: inline-flex;
}
#modal-2 .qsm-popup__footer.qsm-question-bank-footer{
	display: none;
}
#modal-2 .qsm-popup__footer.qsm-question-bank-footer.opened{
	display: flex;
}
.postbox-container .postbox{
	background: #fefefe;
	border: 1px solid #f0f0f0;
}
.postbox-container .postbox h2.hndle {
	border-bottom: 1px solid #dadada;
	padding: 10px 12px;
}
#qsm-import-selected-question {
	margin-left: 10px;
}
.question-bank-question div.question-bank-selection {
	margin: 0 10px;
}
.question-bank-question>div:nth-child(2) {
	width: 75%;
}
.page-new, .question-new {
	background-color: #fff !important;
}
.correct-header {
	text-align: right;
	display: none;
}
.answers-single {
	display: flex;
	margin: 0;
	padding: 0 2px;
	flex-wrap: wrap;
	position: relative;
	flex-direction: row;
}
.answers-single select, .answers-single textarea, .answers-single input[type=text], .answers-single input[type=number]{
	padding: 4px 10px;
	margin: 0;
}
.answers-single>div {
	min-width: 80px;
	width: 100px;
	margin-right: 5px;
	margin-bottom: 5px;
	text-align: center;
}
.answers-single>div:nth-child(4){
	min-width: auto;
	width: 70px;
	padding: 5px 0;
}
.answers-single>div.answer-text-div {
	width: 560px;
	max-width: 60%;
	position: relative;
}
.answers-single>div.remove-answer-icon{
	width: 20px;
	min-width: 25px;
	padding: 4px 0;
}
.qsm-question-misc-options{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0 0;
}
.qsm-feature-image-upl, .qsm-feature-image-rmv{
	display: block;
	width: 100%;
	font-size: 14px;
	margin: 10px 0 0;
	text-decoration: none;
}
input#image_size-width {
    margin-left: 6px;
}
.questionElements .qsm-row>label {
	position: relative;
}
.questionElements .qsm-row>label>.qsm-tooltips-icon {
	position: relative;
	top: 2px;
}
.qsm-editor-wrap #wp-question-text-wrap{
	margin-bottom: 20px;
}
.qsm-editor-wrap .wp-media-buttons{
	float: right;
	margin: 6px 0 -3px 5px;
}
.qsm-editor-wrap .wp-media-buttons button{
	font-size: 11px;
	padding: 0 5px;
	min-height: 26px;
	margin: 0;
	border-radius: 1px;
}
.qsm-editor-wrap .wp-media-buttons button .wp-media-buttons-icon{
    width:18px;
    height: 18px;
}
.qsm-editor-wrap .wp-media-buttons button .wp-media-buttons-icon:before{
    font-size: 16px;
}
.questionElements .qsm-question-doc {
	text-decoration: none;
	color: #969696;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
}
#categorydiv .qsm-question-doc {
	right: 15px;
}
.questionElements .qsm-question-doc:hover {
	color: #0073aa;
}
.questionElements .qsm-row>label>.qsm-question-doc span.dashicons {
	font-size: 17px;
	width: auto;
	height: auto;
	line-height: 23px;
}
.questionElements .qsm-tooltips-icon .qsm-tooltips {
	bottom: 26px;
}
.questionElements .qsm-tooltips-icon {
	cursor: help;
}
#modal-2 .qsm-popup__content{
	padding: 20px 0 0;
}
#modal-page-1 .qsm-popup__footer, #modal-2 .qsm-popup__footer, #modal-7 .qsm-popup__footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#modal-2 #question-bank{
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	overflow-y: auto;
	max-height: calc(100vh - 230px);
	flex-wrap: nowrap;
	flex-direction: column;
	padding: 0 20px 20px;
}
@-moz-keyframes qsm-spinner-loader {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
    }
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
    }
}
@-webkit-keyframes qsm-spinner-loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
    }
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
    }
}
@keyframes qsm-spinner-loader {
	0% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
    }
	100% {
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
    }
}
/* :not(:required) hides this rule from IE9 and below */
.qsm-spinner-loader:not(:required) {
	-moz-animation: qsm-spinner-loader 1500ms infinite linear;
	-webkit-animation: qsm-spinner-loader 1500ms infinite linear;
	animation: qsm-spinner-loader 1500ms infinite linear;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	-moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
	-webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
	box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
	display: inline-block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin: 1.5em;
	overflow: hidden;
	text-indent: 100%;
}
/** * Css for change-answer-editor-label */
.change-answer-editor-label>#change-answer-editor {
	width: auto;
}
a.import-button.button.disable_import {
	position: relative;
	z-index: 0;
}
a.import-button.button.disable_import::before {
	content: '';
	background: rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 5;
}
.ui-state-highlight {
	background: #F3F3F3;
	border: 1px dashed #cbcbcb;
	height: 50px;
	margin: 15px 10px 0;
	opacity: 0.8;
}
.questionElements #poststuff {
	display: inline-block;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	padding-bottom: 0;
}
.questionElements {
	padding: 15px 10px;
	background-color: #fafafa;
	border: 1px solid #cbcbcb;
	margin: 0 20px 0;
	box-sizing: border-box;
	border-top: medium none;
}
.questionElements .question-title {
	padding: 6px 10px;
	font-size: 22px;
	line-height: 100%;
	outline: 0;
	margin: 0 0 3px;
	background-color: #fff;
}
.questionElements #major-publishing-actions {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	clear: both;
	margin-bottom: -3px;
}
.questionElements #minor-publishing {
	padding: 10px 12px 12px;
}
#advanceddiv input[type="number"] {
	width: 100% !important;
}
.questionElements .new-answer-button {
	text-align: center;
	width: 550px;
	max-width: 60%;
	margin-left: 33px;
}
#advanceddiv {
	margin-bottom: 0;
}
#answers .delete-answer-button {
	text-decoration: none;
	color: #dc3232;
	vertical-align: middle;
}
.answers-single .correct-answer {
	margin-right: 0;
	vertical-align: -webkit-baseline-middle;
}
.questionElements #postbox-container-1 select {
	border: 1px solid #dddddd;
	border-radius: 1px;
}
.question-content-text * {
	font-size: 16px;
}
.question-type-description {
	color: #31708f;
	background: #d9edf7;
	border-color: #bce8f1;
	padding: 30px 15px;
	border-radius: 4px;
	font-family: Verdana, sans-serif;
	font-size: 15px;
	line-height: 21px;
	text-align: center;
	margin: 0 0 20px 0;
}
.qsm-show-question-desc-box {
	display: inline-block;
	margin-bottom: 10px !important;
	font-size: 14px;
	text-decoration: none;
}
.qsm-hide-question-desc-box{
	display: inline-block;
	font-size: 14px;
	text-decoration: none;
}
#delete-action .deletion {
	text-decoration: underline;
}
#category_area>label {
	display: none;
}
#category_area {
	margin-top: 10px;
}
a#qsm-category-add-toggle {
	margin-top: 10px;
	display: block;
	text-decoration: underline;
	cursor: pointer;
}
#categorydiv .inside{
	margin: 0;
	padding: 0;
}
.multi_category_area{
	margin: 0;
}
.multi_category_area .qsm-category-filter{
	margin: 0;
	border-width: 0 !important;
	border-bottom: 1px solid #eee !important;
	padding: 3px 8px;
}
.multi_category_area .qsm_categories_list {
	display: inline-block;
	width: 100%;
	max-height: 250px;
	box-sizing: border-box;
	padding: 5px 15px;
	overflow: hidden;
	overflow-y: auto;
	font-size: 14px;
}
.multi_category_area ul{
	margin: 0;
}
.multi_category_area a.add-multiple-category {
	display: inline-block;
	cursor: pointer;
	margin: 10px 12px 10px;
	text-decoration: none;
}
.quiz_form_type_0.quiz_quiz_systen_3 #question_type_13_description, .quiz_form_type_0.quiz_quiz_systen_1 #question_type_13_description {
	display: none !important;
}
#qsm-question-id {
	float: right;
}
#modal-2 .qsm-popup__container {
	min-width: 650px;
	max-width: 900px;
	max-height: 90vh;
	overflow: hidden;
}
#set_featured_image {
	text-decoration: none;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	background: #eee;
	padding: 9px 10px;
	border-radius: 0px 1px 1px 0px;
}
#set_featured_image:focus {
	outline: none;
}
.question_info_tag {
	float: right;
}
@media (min-width: 783px) and (max-width: 1199px) {
	#poststuff #post-body.columns-2 #side-sortables {
		min-width: unset;
		width: 100%;
    }
	.questionElements .postbox {
		min-width: unset;
		width: 100%;
    }
	#post-body.columns-2 #postbox-container-1 {
		width: 250px;
		float: left;
		margin-left: 10px;
    }
	.questionElements {
		overflow: hidden;
    }
}
@media screen and (max-width: 782px) {
    /*List of questions*/
	.question-content .question-content-text {
		font-size: 14px;
    }
	body .question-content>div {
		margin: 0 5px;
    }
	.page-footer a.button {
		font-size: 10px;
		min-height: 25px;
		padding: 0 5px;
    }
	.page-footer a.button .dashicons {
		display: none;
    }
	.question-controls .search-box {
		height: auto;
		width: auto;
		position: relative;
		margin: 0;
		bottom: 0;
		top: 0;
		right: 0;
		left: 0;
	}
	.question-controls .search-box input{padding: 0 8px;min-height: auto;}
	.questionElements .postbox {
		max-width: 100%;
		width: 100%;
		min-width: unset;
    }
	.questionElements .category {
		margin-bottom: 10px;
    }
	.answer-text-div {
		width: 135%;
    }
	.page{padding-bottom: 100px;}
	.page-footer .page-header-buttons{flex-wrap: nowrap;}
	.page-footer a.qsm-dashed-btn{
	    font-size: 12px;
	    padding: 5px 5px;
	    margin: 5px;
	}
}
