.contact-form-builder-wrap{
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	margin-bottom: 150px;
}
.contact-form-builder-wrap a{
	display: inline-block;
	box-sizing: border-box;
	text-decoration: none;
}
.contact-tab-content {
	width: 750px;
	max-width: 65%;
	margin-right: 5%;
}
.contact-tab-sidebar{
	max-width: 25%;
}
.contact-tab-sidebar .postbox{
	min-width: 300px;
}
.contact-tab-sidebar .inside{
	padding: 0 15px;
	margin: 0 !important;
}
.contact-tab-sidebar .inside .inside-row{
	display: block;
	width: 100%;
	margin: 15px 0;
}
.contact-tab-sidebar .inside .inside-row label{
    margin: 0;
    font-size: 14px;
}
.contact-tab-sidebar .inside .inside-row input[type=checkbox]{margin: -.25rem 8px 0 0;}
.contact-form-field {
	display: flex;
	padding: 12px 5px;
	margin: 0 0 10px;
	background: #ffffff;
	border: 1px solid #dfd4d4;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}
.contact-form-field.new {
	background: #f1f1f1;
}
.contact-form-field.deleting {
	background: #ff6666;
}
.contact-form-field.disabled-field{
	background: #f5f5f5;
}
.contact-form-field.hidden-field{display: none;}
.contact-form-field .contact-form-group {
	padding: 0 15px;
	vertical-align: middle;
}
.contact-form-field .contact-form-inputs,
.contact-form-field .contact-form-actions {
	min-width: 150px;
}
.contact-form-field .sortable-handle {
	width: 25px;
	padding: 0 0 0 15px;
}
.contact-form-field .field-required-flag{display: none;position: absolute;top: 5px;right: 6px;font-size: 20px;font-weight: bold;color: red;}
.contact-form-field .sortable-handle a.move-field{
	display: inline-block;
	box-sizing: border-box;
	text-decoration: none;
	color: #3c434a;
	cursor: move;
}
.contact-form-field .sortable-handle a.move-field span{
	color: #A6ABAF;
	font-size: 22px;
}
.contact-form-field .contact-form-group .contact-form-label {
	display: block;
	font-weight: bold;
	margin: 0 0 5px;
}
.contact-form-field .contact-form-group .contact-form-control,
.contact-form-field .contact-form-group select.contact-form-control,
.contact-form-field .contact-form-group input[type="text"].contact-form-control {
	display: block;
	font-size: 14px;
	line-height: 1.4;
	width: 100%;
	min-width: 180px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px 8px;
}
.contact-form-field .contact-form-actions-box {
	display: inline-flex;
	align-items: center;
	flex-wrap: nowrap;
	box-shadow: 0 0 5px 0px #ddd;
	border-radius: 5px;
	margin: 0 5px;
}
.contact-form-field .contact-form-actions-box a:first-child {
	border-radius: 5px 0 0 5px;
}
.contact-form-field .contact-form-actions-box a:last-child {
	border-radius: 0 5px 5px 0;
}
.contact-form-field .contact-form-actions-box a {
	padding: 10px;
	color: #3c434a;
	border: 1px solid #ddd;
	cursor: pointer;
}
.contact-form-field .contact-form-actions-box a.disabled{
	cursor: not-allowed;
}
.contact-form-field .contact-form-actions-box a:hover,
.contact-form-field .contact-form-actions-box a:focus {
	outline: none;
	box-shadow: none;
	background: #eee;
}
.contact-form-field .contact-form-actions-box a span {
	font-size: 16px;
	height: auto;
}
/* Settings style */
.contact-form-field-settings{position: absolute;right: 0;top: 100%;z-index: 999;width: 350px;padding: 20px;box-sizing: border-box;border-radius: 4px;background: #ffffff;border: 1px solid #dfd4d4;box-shadow: 0 0 6px 2px #ddd;}
.contact-form-field-settings:after, .contact-form-field-settings:before {
	border: solid transparent;
	content: " ";
	display: block;
	height: 0;
	position: absolute;
	pointer-events: none;
	width: 0;
	left: 28%;
	border-width: 15px;
	border-color: rgba(255, 255, 255, 0);
}
.contact-form-field-settings:after {
	border-bottom-color: #FFF;
	top: -28px;
}
.contact-form-field-settings:before {
	border-bottom-color: #dfd4d4;
	top: -30px;
}
.contact-form-field-settings h3{
    margin-top: 0;
    padding: 0 0 10px;
    border-bottom: 1px solid #ccc;
}
.contact-form-field-settings .contact-form-group{
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	padding: 0;
	margin: 5px 0 10px;
}

/* Switch style*/
.contact-form-field label.qsm-switch {
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	width: 51px;
	height: 25px;
	margin: 0 5px;
}
.contact-form-field label.qsm-switch .switch-slider:before {
	height: 15px;
	width: 15px;
	left: 5px;
	bottom: 5px;
	border-radius: 50px;
}
.hide-control{
    display: inline-block;
    float: right;
    margin: -30px 0 0;
    font-size: 16px;
}