.qsm-help-tab-dropdown-list{transform: translateX(-100%);left: 0;right: auto;}
.qsm-quiz-nav-bar .qsm-help-tab-dropdown-list a.qsm-help-tab-item{text-align: right;}
.qsm-quiz-nav-bar .qsm-help-tab-dropdown-list a.qsm-help-tab-item:after{content: '\f340';left: 20px;right:auto;}
.qsm-toggle-box .toggle-indicator{float: left;}
.contact-tab-content{margin-right: 0;margin-left: 40px;}
.contact-tab-content .hide-control{float: left;}
.contact-form-field-settings{left: 0;right: auto;}
.contact-form-field-settings:after, .contact-form-field-settings:before{right: 28%;left: auto;}
.contact-tab-sidebar .inside .inside-row input[type=checkbox]{margin: -0.25rem 0 0 8px;}
.contact-form-field .sortable-handle{padding: 0 15px 0 0;}
.qsm_tab_content label{margin-left:5px;margin-right: 0;}
.form-table .qsm-opt-tr{padding-left: 24px;padding-right: 0;}
.qsm-quiz-email-tab .qsm-show-all-variable-text, .qsm-quiz-result-tab .qsm-show-all-variable-text{left: 25px;right: auto;}
.qsm-option-tab-dropdown-list{right: 0;left: auto;}
.nav-tab{margin-left: .5em;margin-right: 0;}
.qsm-option-tab-dropdown-item{margin:0;}
.overview-main-wrapper .overview-inner-wrap:last-child {margin-left: 0;}
.overview-main-wrapper .overview-inner-wrap {margin-left: 2%;margin-right: 0;}
div.qsm_icon_wrap{left:0;right:auto;}
.text-right{text-align: left !important;}
.text-left{text-align: right !important;}