.question-controls {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

@media screen and (min-width:700px) {
	.question-controls {
		flex-direction: row;
	}
}

.page {
	width: 100%;
	background-color: #0d97d8;
	margin: 20px 0;
	padding-bottom: 15px;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4)
}

.page-header {
	display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 35px;
	border-bottom: 5px solid #1DD969;
}

.page-header a {
	text-decoration: none;
}

.page-header-buttons {
	text-align: center;
}

.question, .question-bank-question {
	padding: 10px;
	background-color: #fff;
	border: 5px solid #1DD969;
	margin: 15px 10px 0;
}

.question a {
	text-decoration: none;
}

.question-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.question-content > div {
	margin: 0 10px;
}

.question-content-text {
	flex-grow: 1;
}

.question-bank-question {
	display: flex;
    align-items: center;
    justify-content: space-between;
    clear: both;
}

.question-bank-question div {
	margin: 0 10px;
}

.page-new, .question-new {
	background-color: yellow !important;
}

.correct-header {
	text-align: right;
}

.answers-single {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.answers-single > div {
    margin-left: 5px;
}

.answer-text-div {
	width: 100%;
}

.qsm-row {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	font-size: 16px;
}

.qsm-row > label {
	font-weight: bold;
	display: block;
}

.qsm-row select, .qsm-row input[type=text], .qsm-row textarea {
	width: 100%;
}

.qsm-popup {
	font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}
  
.qsm-popup__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.qsm-popup__container {
	background-color: #fff;
	padding: 30px;
	min-width: 500px;
	max-width: 700px;
	max-height: 95vh;
	border-radius: 4px;
	overflow-y: auto;
	box-sizing: border-box;
}

.qsm-popup__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.qsm-popup__title {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.25;
	color: #00449e;
	box-sizing: border-box;
}

.qsm-popup__close {
	background: transparent;
	border: 0;
	color: #00449e;
    text-decoration: none;
}

.qsm-popup__header .qsm-popup__close:before { 
	content: "\2715"; 
}

.qsm-popup__content {
	margin-top: 2rem;
	margin-bottom: 2rem;
	line-height: 1.5;
	color: rgba(0,0,0,.8);
}

.qsm-popup__btn {
	font-size: .875rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	background-color: #e6e6e6;
	color: rgba(0,0,0,.8);
	border-radius: .25rem;
	border-style: none;
	border-width: 0;
	cursor: pointer;
	-webkit-appearance: button;
	text-transform: none;
	overflow: visible;
	line-height: 1.15;
	margin: 0;
	will-change: transform;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition: -webkit-transform .25s ease-out;
	transition: transform .25s ease-out;
	transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.qsm-popup__btn:focus, .qsm-popup__btn:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.qsm-popup__btn-primary {
	background-color: #00449e;
	color: #fff;
}

@keyframes mmfadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes mmfadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes mmslideIn {
from { transform: translateY(15%); }
	to { transform: translateY(0); }
}

@keyframes mmslideOut {
	from { transform: translateY(0); }
	to { transform: translateY(-10%); }
}

.qsm-popup-slide {
	display: none;
}

.qsm-popup-slide.is-open {
	display: block;
}

.qsm-popup-slide[aria-hidden="false"] .qsm-popup__overlay {
	animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.qsm-popup-slide[aria-hidden="false"] .qsm-popup__container {
	animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.qsm-popup-slide[aria-hidden="true"] .qsm-popup__overlay {
	animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.qsm-popup-slide[aria-hidden="true"] .qsm-popup__container {
	animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.qsm-popup-slide .qsm-popup__container,
.qsm-popup-slide .qsm-popup__overlay {
	will-change: transform;
}

@-moz-keyframes qsm-spinner-loader {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes qsm-spinner-loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes qsm-spinner-loader {
	0% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* :not(:required) hides this rule from IE9 and below */
.qsm-spinner-loader:not(:required) {
	-moz-animation: qsm-spinner-loader 1500ms infinite linear;
	-webkit-animation: qsm-spinner-loader 1500ms infinite linear;
	animation: qsm-spinner-loader 1500ms infinite linear;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	-moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
	-webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
	box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
	display: inline-block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin: 1.5em;
	overflow: hidden;
	text-indent: 100%;
}

/**
* Css for change-answer-editor-label
*/
.change-answer-editor-label{
    display: inline-block;
    float: right;
    font-size: 14px;
    font-weight: normal !important;
}
.change-answer-editor-label > #change-answer-editor{
    width: auto;
}

a.import-button.button.disable_import{
    position: relative;
    z-index: 0;
}

a.import-button.button.disable_import::before {
    content: '';
    background: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 5;
}

#question-bank-cat{
    float: right;
    margin-bottom: 20px;
    margin-right: 10px;
}

@media screen and (max-width: 575px){
    .qsm-popup__container{
        min-width: auto;
        max-width: 100%;
    }
}