.page {
	width: 100%;
	background-color: white;
	margin: 20px 0;
	padding: 20px 10px;
	border: 1px solid;
}

.page-new {
	background-color: yellow;
}

.question {
	padding: 10px;
	background-color: #eee;
	margin: 10px 0;
}
