.ui-tooltip
{
	max-width: 500px !important;
}
.ui-tooltip-content
{
	max-width: 500px !important;
}
.qmn_error
{
	color: red;
}
.mlw_qmn_hint_link
{
	text-decoration:underline;
	color:rgb(0,0,255);
}
.qmn_social_buttons
{
	display: inline;
	vertical-align:top !important;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}
